<p id="notice"><%= notice %></p>

<h1>Listing Nations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Population</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nations.each do |nation| %>
      <tr>
        <td><%= nation.name %></td>
        <td><%= nation.size %></td>
        <td><%= nation.population %></td>
        <td><%= link_to 'Show', nation %></td>
        <td><%= link_to 'Edit', edit_nation_path(nation) %></td>
        <td><%= link_to 'Destroy', nation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nation', new_nation_path %>
